<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>
        <div>
            <div>
                <br>
                <div>
                <h4>User Details</h4>
                <p>
                    <strong>Username</strong>: <%= user.username %><br>
                    <strong>ID</strong>: <%= user.id %><br>
                </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
