.container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    background: var(--card);
    border-radius: 20px;
    padding: 4rem;
    gap: 2rem;
    > h1 {
        font-size: var(--large-font);
    }
    > h3 {
        font-size: var(--medium-font);
    }
    > p {
        font-size: var(--small-font);
        line-height: var(--medium-font);
        > a {
            font-size: var(--small-font);
            line-height: var(--medium-font);
            color: var(--text);
            text-decoration: underline;
        }
    }
}

a:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 90vw;
        padding: 2rem;
    }
}