.container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    background: var(--card);
    border-radius: 20px;
    padding: 4rem;
    font-size: var(--large-font);
    gap: 2rem;
    > h1 {
        font-size: var(--large-font);
    }
    > h5 {
        font-size: var(--medium-font);
        line-height: var(--large-font);
    }
}

.product {
    color: var(--text);
    line-height: 2.8rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 20px;
    border: 2px solid var(--bold);
    font-family: 'Quicksand', sans-serif;
}

.product:hover {
    background-color: var(--bold);
    transition: background-color 0.2s;
}

.productInfo {
    > h3 {
        font-weight: 600;
    }
    > h5 {
        font-size: var(--medium-font);
    }
}

.product img {
    height: 10rem;
    width: 10rem;
    border-radius: 20px;
    padding: 5px;
}

.checkoutBtn {
    width: 100%;
    font-size: var(--medium-font);
    border-radius: 25px;
    height: 55px;
    margin-top: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    background: var(--highlight);
    color: var(--dark-background);
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

.cardDetails {
    font-size: var(--small-font);
    line-height: 2rem;
}

@media only screen and (min-width: 1441px) {
    .checkoutBtn {
        height: 70px;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 90vw;
    }
}